@{
    ViewData["Title"] = "Access Denied";
}

<div class="alert alert-danger">
    <h5><i class="icon fas fa-ban"></i> Bạn không có quyền truy cập!</h5>
    <p>Vui lòng đăng nhập bằng tài khoản phù hợp.</p>
</div>